<nav class="bg-black text-center mx-auto py-5 ">
    <a class="text-white text-2xl text-white  font-thin px-10" href="/">Home</a>
    <a class="text-white text-2xl text-white  font-thin px-10" href="/contact">Contact</a>
    <a class="text-white text-2xl text-white  font-thin px-10" href="/about">About</a>
    <a class="text-white text-2xl text-white  font-thin px-10" href="/login">Login</a>
</nav>